
.box {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-top: 20vh;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.right {
    margin-right: 2rem;
    width: 45%;
    /* background-color: blue; */
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

.middle {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.left {
    margin-left: 2rem;
    width: 45%;
    height: 100%;
    /* background-color: red; */
}
@media screen and (max-width: 768px) {
    .box{
        flex-direction: column;
        align-items: center;
    }    
    .right{
        width: 60%;
        margin: 0;
    }
    .left{
        width: 60%;
        margin: 0;
    }
    }